<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/css/style.css'/>
</head>
<body>
<div class="container">
    <div class="body">
        <%- body %>
    </div>
</div>
<footer class="footer text-center">
    <div class="container">
        <p class="text-muted"> Todo List - bpoiss
            <a href="https://github.com/bpoiss/NodeJS-Benchmark-Suite---Bachelor-Thesis">
                Bachelor Thesis
            </a>
        </p>
    </div>
</footer>
</body>
</html>